*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container{
   
}
.navbar{
    
    background-color: #FFF;
    padding: 10px;
    height: 100%;
    
}
.nav-items{
    display: flex;
    justify-content: center; 
    align-items: center;
    
}
.nav-items li{
    list-style-type: none;
     /* margin-top: 10px; */
    padding: 20px; 
    
}
.nav-items a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.sec-one{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
   
}
.first{
    position: relative;
    width: 100%;
    height: 700px;
    background-image: url("images/mon\ arrière-plan.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
.boite-texte p{
    color: #fff;
}
.boite-texte{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    background-color: black;
    width: ;
    height: 70px;
    padding: 10px;
    
}
img{
    max-width: 200px;
}
.text p{
    color: #FFF;
    text-align: center;
}
.text{
   
}